.root{
  display: grid;
  grid-template-areas: "head" "main";
  grid-template-areas:
    "head"
    "main";
}

a{
  color:black;
  text-decoration: none;
}

header{
  grid-area:head;
  border:3px gray solid;
  margin:20px;
  padding:20px;
  height: 100px;
}

.content{
  grid-area: main;
  border:3px gray solid;
  margin: 20px;
  padding: 20px;
  min-height: 700px;
}

.btn{
  background-color: skyblue;
  border:3px solid skyblue;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  display:inline-block;
  width: 45%;
  height: 90%;
  margin: 2%;
  line-height: 600px;
}

h2.title{
  text-align: center;
  font-size: 30px;
}

table.center{
  margin-top:30%;
  margin-left:10%;
}

button{
  font-size: 15px;
  font-weight: bold;
  background-color: orange;
  border:3px orange solid;
  color:white;
}

table.criteria{
  background-color: skyblue;
  margin-bottom: 10px;
  
}

thead.criteria{
  border-right :3px black solid;
}

tr.criteria{
  text-align: center;
  
}

th.criteria{
  width: 10%;
  font-size: medium;
}

td.criteria{
  width: auto;
  font-size: medium;
}



