div.popupWrapper{
    border:3px grey solid;
    position:fixed;
    background-color: pink;
    top:20%;
    left:5%;
    width:90%;
    height: 75%;
    display: inline-block;
    vertical-align: middle;
}

div.popup{
    margin:10px;
}

label.popup{
    margin:10px;
    font-weight: bold;
}

form.popup{
    background-color: white;
    min-height:fit-content;
    border:3px grey solid;
    padding: 10px;
    margin: 10px;
}

form.content{
    height: 45%;
    overflow: scroll;
}

button.popup{
    margin:10px;
}

button.close{
    margin-top: 1%;
    margin-left: 48%;
}

span.checkbox{
    border:1px grey solid;
    padding:5px;
}

td {
    white-space: pre-line;
}